<div class="jumbotron">
	<h1>Airbnb for <br />storage space.</h1><br />
	<%= image_tag "storapenn.png", :width => "250px" %>
	<br /><br />
	<p class="lead">StoraPenn helps Penn students who need summer storage space <br />find students who have it.</p>
	<p class="lead no-bottom-margin">Want to stay in the loop?</p>
	
	<%= render 'form' %>
</div>

<hr>

<div class="marketing">
	<h4>Find cheap, reliable storage.</h4>
	<p>Storage services suck, whether they're losing my boxes or letting them mold. Find cheaper, more reliable storage from a
	fellow Penn student.</p>
</div>

<hr>

<div class="marketing">
	<h4>Monetize your space.</h4>
	<p>Put your extra space to work with little effort, whether you live in an off-campus house, a Radian apartment, or somewhere else.
  	All you have to do is be reliable.</p>
</div>

<hr>

<div class="footer">
	<p>&copy; Jonathan Hwa 2013</p>
</div>