<div class="jumbotron">
	<h1>Airbnb for <br />storage space.</h1><br />
	<p class="lead">StoraPenn helps Penn students who need summer storage space <br />find students who have it.</p>
	<p class="lead no-bottom-margin">Want to stay in the loop?</p>
	
	<%= render 'form' %>
</div>

<hr>

<div class="row-fluid marketing">
	<div class="span6">
	  <h4>Subheading</h4>
	  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	</div>

	<div class="span6">
	  <h4>Subheading</h4>
	  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
	</div>
</div>

<hr>

<div class="footer">
	<p>&copy; Jonathan Hwa 2013</p>
</div>